@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EasyNote.DTOs;
@model AllNotesDTO
@{
    string id = User.Claims.First(claim => claim.Type == ClaimTypes.Sid).Value;
    string name = User.Claims.First(claim => claim.Type == ClaimTypes.Name).Value;
    string email = User.Claims.First(claim => claim.Type == ClaimTypes.Email).Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@name's workspace</title>
    <link rel="stylesheet" href="~/css/main-layout.css"/>
</head>
<body>
    <header>
        <div class="icon">
            <img src="~/assets/easy-note-icon.jpg"/>
            <div>EasyNote</div>
        </div>
        
        <div>
            <ul id="profile-block-dropdown-items">
                <li>Profile</li>
                <li>Setting</li>
                <li id="profile-block-dropdown-items-logout" onclick="logout()">Logout</li>
            </ul>

            <input id="dropdown_cb" type="checkbox" onclick="dropdownClicked()"/>
            <label class="profile-block" for="dropdown_cb">
                <div class="profile-info">
                    <img class="profile-info-img" src="@Url.Action("ShowProfileImage", "Main", new { userId = id })" />
                    <div class="profile-info-name">@name</div>
                </div>

                <div class="profile-block-dropdowns">
                    <img id="profile-block-dropdowns-img" src="~/assets/caret-down-solid.svg" />
                </div>
            </label>
        </div>
    </header>

    <div class="main-body">
        <nav class="note-nav">
            <div>
                <button class="new-note-btn" onclick="newNote('@(Url.Action("NewNote", "Main"))', '@(id)')">+ New</button>
                <!--all user's note-->
                <ul id="note_list">
                    <!--example: "<li><a href="#">note 1</a></li>"-->
                    @{
                        foreach (Note note in Model.Notes)
                        {
                            if (note == null)
                                continue;
                            <li><a id="@note.NoteId" href="/Workspace?noteId=@note.NoteId">@note.NoteName</a></li>
                        }
                    }
                </ul>
            </div>

            <a class="clander"><img src="~/assets/calendar-days-solid.svg"/>Clander</a>
        </nav>

        <main>
            @RenderBody()
        </main>
    </div>
</body>

<script src="~/js/main-layout.js"></script>