@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EasyNote.DTOs;
@model AllNotesDTO
@{
    string id = User.Claims.First(claim => claim.Type == ClaimTypes.Sid).Value;
    string name = User.Claims.First(claim => claim.Type == ClaimTypes.Name).Value;
    string email = User.Claims.First(claim => claim.Type == ClaimTypes.Email).Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@name's workspace</title>
    <link rel="stylesheet" href="~/css/main-layout.css"/>
</head>
<body>
    <header>
        <button id="nav_button">
            <i class="bi bi-list"></i>
        </button>

        <div class="icon" onclick="iconClicked();">
            <img src="~/assets/easy-note-icon.jpg"/>
            <div>EasyNote</div>
        </div>

        <div>
            <ul id="profile-block-dropdown-items">
                <li><i class="bi bi-person"></i>Profile</li>
                <li><i class="bi bi-gear"></i>Setting</li>
                <li id="profile-block-dropdown-items-logout" onclick="logout()"><i class="bi bi-box-arrow-right"></i>Logout</li>
            </ul>

            <input id="dropdown_cb" type="checkbox" onclick="dropdownClicked()"/>
            <label class="profile-block" for="dropdown_cb">
                <div class="profile-info">
                    <img class="profile-info-img" src="@Url.Action("ShowProfileImage", "Main", new { userId = id })" />
                    <div class="profile-info-name">@name</div>
                </div>

                <div class="profile-block-dropdowns">
                    <img id="profile-block-dropdowns-img" src="~/assets/caret-down-solid.svg" />
                </div>
            </label>
        </div>
    </header>

    <div class="main-body">
        <nav id="note_nav" @{
            
        }>
            <div>
                <button class="new-note-btn" title="New note" onclick="newNote('@(Url.Action("NewNote", "Main"))', '@(id)')"><i class="bi bi-journal-text"></i><span>New note</span></button>
                <!--all user's note-->
                <span>Notes</span>
                <ul id="note_list">
                    <!--example: "<li><a href="#">note 1</a></li>"-->
                    @{
                        if (Model.Notes != null)
                        {
                            foreach (Note note in Model.Notes)
                            {
                                <li>
                                    <a id="@note.NoteId" href="/Workspace?noteId=@note.NoteId" draggable="false">@note.NoteName</a>

                                    <div class="note-nav-options">
                                        <i class="bi bi-pencil-square" title="Rename" onclick="renameNote('@id', '@note.NoteId');"></i>
                                        <i class="bi bi-trash-fill" title="Delete" onclick="deleteNote('@note.NoteId');"></i>
                                    </div>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>

            <a class="clander" href="/Calendar"><img src="~/assets/calendar-days-solid.svg" />Calendar</a>
        </nav>

        <main id="main">
            @RenderBody()
        </main>
    </div>
</body>

<script src="~/js/main-layout.js"></script>